body {
    background-color: #181A1A;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 16px;

}

.item {
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    color: #191512;
    font-family: "Inter", sans-serif;
}

.start {
    margin-right: auto;

}


.search-books-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.slides-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-slides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.link {
    color: #ffffff;
}

input {
    display: flex;
    justify-content: center;
    background-color: #313333;
    border: solid 1px #626666;
    color: #ffffff;
    border-radius: 8px;
    width: 56vw;
    height: 48px;
    font-size: 18px;
    padding: 0px 16px;
}

.fact-container {
    display: flex;
    gap: 24px;
    background-color: black;
    padding: 24px;
    border-radius: 24px;
    width: 60vw;
}

.image-fact {
    width: 10vw;
    width: 20vh;
}

.image-text {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 16px;
    }

.text-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    height: 50px;
    width: 10vw;
    border-radius: 8px;
}

.filled-btn {
    background-color: #CDE7BE;
    color: #181A1A;
}

.stroke-btn {
    border: solid 1px #CDE7BE;
    background-color: #181A1A;
    color: #CDE7BE;
    width: 72px;
}

form {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.books-loved {
    width: 20vw;
}